body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}
.menu{
    position: absolute;
    top: 10px;
    left: 10px;
    display:flex;
    justify-content: space-around;
    width: 100%;
}
.menu a{
    text-decoration:none;
    color:black;
}

.menu a:hover{
    color:darkolivegreen;
}